.cproject
.project
.pydevproject
.settings
.classpath
.classpath-generated
.project-generated
ros.properties
dependencies.xml
cmake_install.cmake
build/
bin/
msg_gen/
srv_gen/
*.pyc
.gradle/
.svn
*.bak
CMakeFiles/
*~
CMakeCache.txt
Makefile.ros
